extends layout

block content
    .container
        .h2 About Us
        p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
            ul
                li point number One
                li point number Two
                li point number Three