extends layout

block content
    .container
        .h2 Who Are We
        p We are <strong>The Candidates’ Project</strong>; we are committed to reducing the impact of joblessness and social disadvantage that leads to offending / re-offending. We design and build a specialist supported housing project (Half Way Home), vocational training, skills acquisition, apprenticeship, & educational service that would meet the wide range of inmates, ex-offender and youth crime prevention (Youth Crime Prevention Project) needs.
        p And as social service enterprise, <strong>The Candidates’ Project</strong>’s mission is to add value to inmates, ex-offenders & youth crime prevention’s lives. Our role is to provide choice and high quality client driven care and support, and neighbourhood services and products
        p We provide our services through individually tailored Assessment & Support Planning tools  named Pathway 2success assessment tools® for every inmates & ex-offenders, within a framework of diversity, equal opportunities, anti-discrimination and respect.
        p The Candidates’ Project offers a Low, Medium to High risk support service in the area of supported housing (Half Way Home), vocational training, skills acquisition, apprenticeship and educational service.
        pThe service encourage inmates & ex-offenders to gain control in their lives by developing trust, self-esteem & independent living skills, also allowing them to improve the quality of their lives by developing skills (in-house life skills) and for those desire to gain admission into higher institution necessary for independent living. The Candidates’ Project provide services for both correctional intervention and youth crime prevention project
        <br>
        <br>
        h2 Our Finding
        p Years with offenders indicate that inmates, ex-offenders & youth crime prevention left unoccupied with constructive and positive activities are likely to perfect their criminal activities through the learning of new tricks from other inmates & ex-offenders. Offenders get smarter by sharing experience with more learned colleagues.
        p The aim of imprisonment according to section 2(4) of Nigeria Prison Act (1972) is to endeavor to identify the reason for anti-social behavior of the offenders as one of the main objective; but this can only be uncovered by applying effective method known as; Assessment & Support Planning Tools® provided by us.
        p The philosophy of building assessment infrastructure is that treatment, reformation and rehabilitation of the inmates and ex-offenders ought to be achieved through a carefully well-designed Assessment & Support Planning tools® because this can identify needs and risk necessitate for reformation, rehabilitate through acquiring skills to reintegrate back to the community. 

        <br>
        <br>
        h2 Our Aims & Objectives 

        p Reformatory process demands to know the needs & risk in order to address the emotional, personality and behaviour disorder of prisoners which are sometimes the underlying factors in their crime activities. The key aim of the service is to provide long-term supported vocational training, apprenticeship, skill acquisition and educational service under <strong>The Candidates’ Project.</strong>

        h2 Our Tools
        p Our tailored made service help inmates, ex-offenders & youth crime prevention project discover and rediscover their talents/gift, providing a platform to channel and direct their energy to become great assets to their community and relevant to the economy of Great Nation, Nigeria using Assessment & Support Planning tools

        h2 Our Support
        p Provide information and make character building essential. We provide in-house life skills program such tenancy awareness, crime & antisocial behaviour, budgeting, drug and alcohol awareness, meaningful use of time, recognising & creating positive relationships, self-esteem, social behaviour, staying safe in relationships etc.
        p Support is regularly reviewed with appropriate input of all support agencies (All the training facilitators, DAC, DIP and ARC) involved in the care support and management of the inmates, ex-offenders and youth crime prevention projects

        h2 Supporting Positive Change
        p <strong>The Candidate Project </strong> delivers person-centered, flexible support for proposed projects, which aims to increase underprivileged choice and control over their lives. Our support service helps underprivileged identify what they need and want to maximize their potential and inclusion in their local communities. Our core values, as well as our policies and procedures, emphasize the importance of empowerment. Our policies &   procedures shape the way we serve Inmates, ex-offender & youth crime prevention projects

        h2 Access thru Assessment
        p It imperative that all inmates, ex-offenders & youth crime prevention project should access services through Assessment and Support Planning tools to help identify needs and risk around life. The use of these assessment tools will help them make initial decision as to which of the in-house life skills (character building is included) are required before vocational training and skills acquisition is undertaken. Part of the initial assessment also help the individual develop the necessary social and financial skills to maintain living and support family network


        h2 Quality Assurance
        p <strong>The Candidates’ Project </strong>uses a specialised Risk Assessment & Support Planning tools® named Pathway2Success assessment tools. The tools are designed for use from initial referral through to completion of the skills acquisition, vocational training to internship.  It is a set of recording tools we use to help us put our support approach into practice. Staff will receive specialist training in the implementation of the tools to manage Inmates, ex-offenders & youth crime prevention projects. The outcome of the assessment will be reviewed with each of them every 3 months (depends on the risk assessment outcomes). The tools help reveals what has actually changed in their life, and how they are making progress toward goals


