extends layout

block content
  .container
    .jumbotron
      .container
        h1 The Candidates’ Project
        h4 Inmate, Ex-Offender, Youth Crime Prevention Service
        p We build infrastructures that reduces the impact of joblessness & social disadvantage that leads to re-offending
          a.btn.btn-danger.btn-lg(href="/about") You can learn more here

  .container   

    .row
      .col-md-4
        h2 Who Are We
        p We are The Candidates’ Project; we are committed to reducing the impact of joblessness and social disadvantage that leads to offending / re-offending. We design and build a specialist supported housing project (Half Way Home), vocational training, skills acquisition, apprenticeship, & educational service that would meet the wide range of inmates, ex-offender and youth crime prevention (Youth Crime Prevention Project) needs.
        a.btn.btn-primary(href="/about") Deatils
      .col-md-4
        h2 Our Aims & Objectives
        p Reformatory process demands to know the needs & risk in order to address the emotional, personality and behaviour disorder of prisoners which are sometimes the underlying factors in their crime activities. The key aim of the service is to provide long-term supported vocational training, apprenticeship, skill acquisition and educational service under The Candidates’ Project. 
        a.btn.btn-primary(href="/about") Details 
           
      .col-md-4
        h2 Get in Touch
        p 12A Olanrewaju Ninalowo Crescent, Lekki Phase 1, Lagos 
        p Tel: +234 (0) 813 456 2426 or +234 (0) 909 471 2292
        p Email: dpath2freedom@gmail.com
        a.btn.btn-primary(href="/contact") Deatils