extends layout

block content
  .container
    .jumbotron
      .container
        h1 How May I Help You?
        p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
          a.btn.btn-danger.btn-lg(href="#") You can learn more here

  .container   

    .row
      .col-md-4
        h2 About US
        p Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
        a.btn.btn-primary(href="#") Deatils
      .col-md-4
        h2 Service
        p Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
        a.btn.btn-primary(href="#") Details    
      .col-md-4
        h2 Get in Touch
        p Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book. It usually begins with:
        a.btn.btn-primary(href="#") Deatils